extends ./layout.pug

block append head
  title Home | Scholarship Portal
  link(rel="icon" href="files/images/NITT-Logo.png" type="image/x-icon")
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  link(rel="stylesheet", href="/css/home.css")

block content
  .container.jumbo-container
    .jumbotron.jumbo-class
      h3(class="welcomehead") Welcome to NITT Scholarship Portal
      div
        .row
          .col-md-1
          .col-md-9
            div(class="scholarship-name first-scholarship") Abundant Cauvery Delta Education Fund Scholarship
            hr.mt-auto.mb-0(style='background: #bbb; height: 1px; width: 100%; border: 0')
          .col-md-2
        .row
          .col-md-1
          .col-md-9
            div(class="scholarship-name") RECAL Scholarships to the Students
            hr.mt-auto.mb-0(style='background: #bbb; height: 1px; width: 100%; border: 0')
          .col-md-2
        .row
          .col-md-1
          .col-md-9
            div(class="scholarship-name") Student Aid Fund
            hr.mt-auto.mb-0(style='background: #bbb; height: 1px; width: 100%; border: 0')
          .col-md-2
        .row
          .col-md-1
          .col-md-9
            div(class="scholarship-name") Silver 72
          .col-md-2
    div(style="text-align: center;")
      button(class="btn btn-success btn-lg redirect") Register
  script(src="/js/home.js")
