doctype html
html
    block head
            meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
            link(rel='stylesheet',href='/css/layout.css')
    body
        main
            block content
        br
        footer.footer
            .container-fluid
                | Made with&nbsp;
                span(class="heart") &#x2764;
                | &nbsp;by&nbsp;
                a(href='https://delta.nitt.edu/') Delta Force

        script(src="/js/layout.js")
