doctype html
html
  head
    block head
      meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
      link(href="https://fonts.googleapis.com/css?family=Montserrat|Raleway", rel="stylesheet")
      link(rel='stylesheet',href='/css/layout.css')

  body
    main
      div.title
        span
          img.nittlogo(src="/files/images/NITT-Logo.png" width= "90px" height="90px")
          span.titlespan Scholarship Portal
      block content
    br
    footer.footer
      .container-fluid
        | Made with&nbsp;
        span(class="heart") &#x2764;
        | &nbsp;by&nbsp;
        a(href='https://delta.nitt.edu/') Delta Force
