doctype html
html
  head
    block head
      meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
      link(rel="icon" href="files/images/NITT-Logo.png" type="image/x-icon")
      link(href="https://fonts.googleapis.com/css?family=Montserrat|Raleway", rel="stylesheet")
      link(rel='stylesheet',href='/css/layout.css')
      style(type='text/css') include ./css/layout.css

  body
    main
      block content
    br
    script(src="/js/layout.js")
