html{ 
    height:94%;
    font-family: 'sans-serif';
}
body{ 
    min-height:100%;
    padding:0;
    margin:0;
    position:relative;
}

body::after{ 
    content:'';
    display:block;
    height:100px; 
}

.footer{
    height: 1.9em;
    text-align: center;
    background-color: #111111;
    color: #eee;
    overflow: hidden;
    position:absolute; 
    bottom:0; 
    width:100%;
    font-size: 18px;
}

.heart{
    color: #8ed10c;
}

.footer a{
    text-decoration: none;
    color: #8ed10c;
}

.footer a:hover,.footer a:visited,.footer a:link,.footer a:active{
    text-decoration: none;
    color: #8ed10c;
}

.footer a:hover{
    cursor: pointer;
}