html,body,main{
	margin: 0;
	padding: 0;
    background-color: rgb(249,249,249);
    font-family: 'sans-serif';
    min-height:100vh;
}

.container-custom{
    width: 100vw;
}

.heading{
    margin-top: 7vh;
}

.main{
    margin-top: 8vh;
}

.input-container{
    padding-top: 7px;
    padding-bottom: 7px;
}

.label-tag{
    margin-top: 8px;
}

.input-big{
    overflow: auto;
    resize: none;
}

table td input{
    width: 100%;
}

.table-custom{
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.table2head{
    margin-top: 8vh;
}

.flex{
    padding: 0px 5px;
    display:flex;
    align-items:center;
}

.flex-left{
    margin-left:auto;
}

.fa-caret-down,.fa-caret-up{
    color:#545454;
}

.hide{
    display:none;
}

.custom-submit{
    font-size:20px !important;
}

.dropdown-head{
    font-size: 0.7em;
}
.red{
    color:#f78a8a
}
@media only screen and (max-width: 500px) {

    .title{
        font-size: 2em;
        font-weight: 500;
    }

    .table2head{
        margin-top: 6vh;
        font-size: 1.2em;
    }

    .heading{
        margin-top: 7vh;
        font-size: 1.3em;
    }

    .dropdown-head{
        font-size: 0.8em;
    }

    .custom-submit{
        font-size: 15px !important;
    }

}
