*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Raleway", sans-serif;
}

a.elo{
  float: right;
  margin-top: 10px;
  margin-right: 1%;
  text-decoration: underline solid;
}

.elo:hover{
  cursor: pointer;
}

.progress {
  margin: 20px auto;
  text-align: center;
  height: 15vh;
  margin-top: 3vh;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.20);
}

.progress .circle, .progress .bar {
  display: inline-block;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #d5d5da;
}

.progress-contain {
  margin-top: 2vh;
}

.progress .bar {
  position: relative;
  width: 110px;
  height: 6px;
  top: -33px;
  margin-left: -5px;
  margin-right: -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.progress .circle .label {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: #b5b5ba;
  font-size: 17px;
}

.progress .circle .title {
  color: #b5b5ba;
  font-size: 13px;
  line-height: 30px;
  margin-left: -5px;
}

.progress .bar.done, .progress .circle.done {
  background: #eee;
}

.progress .bar.active {
  background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}

.progress .circle.done .label {
  color: #FFF;
  background: #8bc435;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
}
.progress .circle.cross .label {
  color: #FFF;
  background: red;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
}


.progress .circle.done .text {
  color: #444;
}

.text {
  font-size: 1.2em;
  margin-left: -20px;
}

.progress .circle.active .label {
  color: #FFF;
  background: #0c95be;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
}

.progress .circle.active .text {
  color: #0c95be;
}

.btn-logout {
  margin-left: 5%;
}

.alert-container {
  margin-top: 7vh;
}

.pdf-container {
  margin-top: 2vh;
}
